@font-face {
    font-family: 'Forefarmers';
    src: url(Forefarmers.otf);
    font-weight: bold;
    font-style: normal;
}


footer, header {
background-color: #0090C1;
  padding: 1em;
  color:white;
  border-radius: 25px;
  
}

footer {
    text-align: center;
    padding-top: .001em;
    padding-bottom: 1em;
    font-family: 'arial', sans-serif;
    line-height: 50%;
    color: black;

}

header {
    padding-left: 5%;
    display:flex;
  justify-content: space-between;
  height: 5em;
}

#fampic{
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

main{
    padding-left: 1em;
    font-family: 'arial', sans-serif;
}

h1 {

font-size: 5em;
margin-top: .1em;
font-family: 'Forefarmers', script;
}

h2{
    font-family: 'arial', sans-serif;
}

#line{
    height: .5px;
    background-color: black;
    margin-top: -1em;
    margin-right: 1em;
}

#inline{
    display: flex;
    justify-content: center;
}