.headerFooter {
    
    background-color: #7fb9c2;
}  

tr:nth-child(even) {
    background-color: #e7ffed;
  }
tr:nth-child(odd) {
    background-color: #e7f0ed;
  }


  th, #goalMet {
      background-color: #628ca6;
      color: #fff;
  }

  
 span {
      font-style: italic;
  }

 th, td {
    padding: .4em;
 }

      
  table{
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
        box-shadow: 9px 9px 9px #628ca6;
        background-color: lightgrey;
  }
        

  tfoot {
    font-size: .75em;
}

thead {
    font-size: 1.5em;
    padding: .25em;
    font-weight: 900;
    
}

 