/* Header */
#pancake {
    display: none;
    padding-bottom: .5em;
}

h1 {
    font-family: 'Life Savers', cursive;
    font-weight: 900;
    letter-spacing: 2.5px;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0em;
    margin-top: .25em;
}

.motto {
    
    font-family: 'Life Savers', cursive;
    font-weight: 900;
    letter-spacing: 2.5px;
    font-size: 1.5em;
    text-align: center;  
}



#logo {
    height: 100px;   

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;
}

footer, header {
    background-color: #0090C1;
      color:white;
      border-radius: 25px;
      
    }
/* Navigation Bar */
nav {
	margin: 0 auto;
	max-width: 100%;
    background-color: #ff9326;
    border-radius: 25px;
}
.navigation {
	list-style: none;
	padding: 0em;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.active {
    text-decoration: underline;
    font-weight: bold;
    
}
.navigation a {
	display: block;
	color: #000000;
	padding: 0.75rem;
	text-align: center;
    text-decoration: none;
    font-size: 1.25em;
}
.navigation a:hover {
	color: #000;
	background-color: #ededed;
    font-weight: 700;
    border-style: solid;
    border-radius: 25px;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}
/* Content */

h2 {
    text-align: center;
}

body {
    margin: auto;
    font-family: 'Muli', sans-serif;
    width: 95%;
    padding: .5em;
    
}

#border {
    background-color: #0090C1;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    border-radius: 25px;
   margin-top: 1em;
}

#upcomingEvents{
    border-radius: 25px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    
}

#eventLine {
    background-color: white;
    height: 1.5px;
    width: 85%;
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
}


.contentBox {
    background-color: #ededed; 
    margin: 1em;
    border-radius: 25px;
    border-style: solid;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
   padding-bottom: 1em;
}
 #summaryPic{
     width:100%;
     margin: 0em auto;
     border-radius: 25px;
 }

 #line {
     background-color: #ffffff;
     height: 2px;

     width: 100%;
     margin-bottom: .5em;
 }

 #list {
     display: flex;
     flex-wrap: wrap;
 }

 #sumFirst {
     text-align: right;
 }

 #sumSec {
     text-align: left;
     margin-left: .5em;
 }

 .icon {
     width: 60px;
 }

 #articleBox {
    display: flex; 
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
 }
 
 #articlePic{
     width: 90%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 25px;
     margin: 1em;
 }

 #map{
     display: none;
 }
 .articleWords {
     width: 100%;
 }


#forecast {
    display: none;
    
}

 #weatherSum {
     background-color: rgba(0%, 56%, 76%, 0.8);
     color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    padding: 1em;
    margin-left: 1em;
    margin-top: 1em;
 }

 #weatherSum h3 {
     margin-bottom: 0em;
     margin-top: 0em;
 }


 #contact {
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
 }


/* footer */

#inline{
    display: flex;
    justify-content: center;
}

footer a:link, footer a:hover {
    color: #ffffff;
}

footer a:visited {
    color: black;
}
    
    footer {
        text-align: center;
        padding-top: .001em;
        padding-bottom: .001em;
        font-family: 'Muli', sans-serif;
        color: black;
    }


   
