
@media only screen and (min-width: 960px)
{


.content, footer{
    width: 960px;
    margin: auto;
}
 
h1 {
    font-size: 3em;
    
}

#summaryPic{
    width:940px;
}

.articleWords {
    width: 50%;
    text-align: left;
}
#articlePic{
    margin-right: 0em;
    margin-left: 1.25em;
}

#contactWords {
   
    margin-right: 7em;
}
#contact
{
    justify-content: space-between;
}
#forecast {
    width: 700px;
}
}