@media only screen and (min-width: 1153px)
{
    h1 {
        font-size: 4em;
    }

    #weatherSum {
        font-size: 1.25em;
        
    }
    .navigation li a {
        
        font-size: 1.25em;
    }
    
    body{
        font-size: 125%;
    }
  
}