p{
    
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    text-align: center;
}

@media only screen and (min-width: 737px)
        {
            

            #weatherSum{
                
                margin-top: -20%
            }

            
        }
 